body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: auto;
  width: 70vw;
  padding: 20px 0;
}

.container {
  border: solid 2px black;
  background-color: black;
}

.row {
  display: flex;
  height: 100px;
  background-color: #1a1a1a;
  border: solid 1px black;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 120px;
}

.content {
  background-color: #232323;
  display: flex;
  width: 100%;
}

.item {
  width: 150px;
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: cover;
  // border-right: solid 1px black;
  // border-left: solid 1px black;
}

.item-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: #1b1b1b;
  padding: 10px;
  color: #989898;

  &__modal-button {
    padding: 0 10px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__controls {
    width: 30px;
  }

  &__icon {
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.default-container {
  // display: flex;
  border: solid 2px black;
  margin-top: 20px;
  background-color: #232323;
  min-height: 100px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 105px;
  }
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000a8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &__close-button {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    background-color: white;
    color: black;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    outline: none;
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    max-height: 850px;
    // overflow: auto;
    overflow: hidden;

    &:hover {
      overflow-y: overlay;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #5a5a5a;
      border-radius: 10px;
    }
  }
}

.controls {
  margin-bottom: 10px;

  button:not(:last-child) {
    margin-right: 10px;
  }
}

.nav {
  margin-bottom: 10px;

  button:not(:last-child) {
    margin-right: 10px;
  }
}

.btn {
  font-family: inherit;
  min-height: 40px;
  min-width: 65px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  font-size: 17px;
  font-weight: 600;
  background-color: #16181c;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #7b1515;
  }

  &:enabled:hover {
    background-color: black;
    cursor: pointer;
  }

  &--green {
    background-color: #019501;

    &:hover {
      background-color: green !important;
    }
  }

  &--red {
    background-color: #a50f0f;

    &:hover {
      background-color: #930d0d !important;
    }
  }

  &--blue {
    background-color: #3150de;

    &:hover {
      background-color: #2b47c5 !important;
    }
  }
}

.create-form {
  &__images {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    background-color: #232323;
    border: solid 2px black;
  }

  &__image {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.8;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &__controls {
    margin-top: 20px;
  }
}
